body,td,th { 
        font-family: verdana;
        font-size: 8pt;
        color: #fff; 
        margin: 0px; 
        *overflow: auto; /* IE Iframe fix */
}

body { 
	
        scrollbar-base-color:#202d31;
        scrollbar-arrow-color:#fff;
        scrollbar-darkshadow-color:#333;
        scrollbar-face-color:#202d31;
        scrollbar-highlight-color:#333;
        scrollbar-shadow-color:#333;
        scrollbar-track-color:#323232;
        margin:0;
}

a.spoil:hover {cursor:pointer; color: #FFF} 
a:active,a:hover,a:visited,a:link{text-decoration:none;color:#fff;z-index: 50;}
textarea{border:1px dotted #000;color:#fff;background:#464646;font-size:8pt;font-family:verdana}

.drag { position: absolute; margin: 0 auto; z-index: 60; width:700px; cursor: move; margin-top:200px;}

img {
	border : 0 none;
}

img.icon {
        width: 16px;
        height: 16px;
	border : 0 none;
}

br.smallBR { 
        font-size: 14px;
}

select, input { 
        border: 1px dotted #000;
        color: #fff;
        background-color: #464646;
        font-size:8pt;
}

TD.subtitle {
    background: url("menubar.png") repeat scroll 0 0 transparent;
    border-color: #000000;
    border-right: 1px solid #000000;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: "verdana";
    font-size: 9pt;
    letter-spacing: 5px;
    text-align: center;
}

td.justborders {
        border: 1px solid #000000;
        PADDING-LEFT: 5px; 
        FONT-SIZE: 8pt; 
        FONT-FAMILY: "verdana"; 
        cellspacing: 0px;
}


td.maintxt {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid; 
	PADDING-LEFT: 5px; 
	FONT-SIZE: 8pt; 
	FONT-FAMILY: "verdana"; 
	BACKGROUND-COLOR: #202020; 
	cellspacing: 0px;
}


td.helpdesk {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	PADDING-LEFT: 5px;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "verdana";
	BACKGROUND-COLOR: #B3DDFD; 
	cellspacing: 0px;
}

td.menu {
        background-color:#202d31;
        font-family:verdana;
        font-size:8pt;
        padding-left:5px;
        cellspacing:0;
}
        
td.lay {
        background-color:#4f656a;
        font-family:verdana;
        font-size:8pt;
        padding-left:5px;
        cellspacing:0;
}

.tekstheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #00FF00;
}

.error { 
        color: red;
}

.errorbold { 
        color: red;
        font-weight: bold;
}